body {
    margin: 0;
    padding: 0;
    background: url(images/background.jpeg);
    background-size: cover;
    
    

}
.box{
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    width: 450px;
    margin:auto;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.box-img {
    border-radius: 100%;
    
}
.box h3{
    font-size: 20px;

}
.box p {
    text-align: justify;
    font-size: 15px;
}
.box a:link  {
    color: white
}
.box a:visited {
    color: white
}
.box a:hover {
    color:grey
}
.coursework {
    text-align: justify;
}
ul {
    margin: 0;
    padding: 0;
}

.box li {
    display: inline-block;
    margin: 6px;
    list-style: none;
}